<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Paramètres</title>
</head>


<body id="body">

  <header id="sidebarMenu" class="header">
    <a class="navbar-brand" href="/home" novalidate>Matériel Informatique</a>
    <ul class="nav nav_link">
      <li class="nav-item">
        <a class="login__submit navlink" aria-current="page" href="/home">Principale</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" aria-current="page" href="/departement">Départements</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" aria-current="page" href="/user">Postes</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" href="/needs">Besoins</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" href="/settings">Paramètres</a>
      </li>
    </ul>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/settingsAr" style="color: white;"><h5>Ar</h5></a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">

      <nav id="sidebarMenu" class="col-lg-2 ">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column" style="height: 87vh; justify-content: space-evenly">
            <li class="nav-item">
              <h3 style="color: #4c489d; text-align: center;">Les paramètres</h3>
            </li>
            <li class="nav-item">
              <a class="login__submit" aria-current="page" href="/addAdmin">
                <h4>
                  Ajouter
                </h4>
              </a>
            </li>
            <li>
              <button type="button" class="login__submit" onclick="printPage()">
                <h4>Imprimer</h4>
              </button>
            </li>
            <li class="nav-item">
              <a class="login__submit" aria-current="page" href="/logout">
                <h5>Déconnection</h5>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="table-responsive" id="data">
          <table class=" table table-striped table-sm" id="tableExport">
            <thead>
              <tr class="shadow">
                <th scope="col">Nom et Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Mot de passe</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each rows}}
              <tr>
                <td>{{this.full_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.password}}</td>
                <td>
                  <a href="/editAdmin/{{this.id}}" class="btn btn-primary btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-bottom: 2px;">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </a>
                  <a onclick="return confirm('Êtes-vous sûr de la suppression?')" href="/deleteAdmin/{{this.id}}"
                    class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 2px;"
                      fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!--
        <nav aria-label="Page navigation example" style="padding-right: 40%;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" style="color: #4c489d;">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" style="color: #4c489d;">1</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color: #4c489d;">2</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color: #4c489d;">3</a></li>
            <li class="page-item">
              <a class="page-link" href="/controllers/#" aria-label="Previous" style="color: #4c489d;">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        -->
      </main>

    </div>
  </div>

  <script type="text/javascript">
    function printPage() {
      var body = document.getElementById('body').innerHTML;
      var data = document.getElementById('data').innerHTML;
      document.getElementById('body').innerHTML = data;
      window.print();
    };
  </script>

</body>

</html>