<!DOCTYPE html>
<html lang="ar" dir="rtl">

{{> header }}

<body id="body">

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/home" novalidate>إدارة العتاد المعلوماتي</a>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/logout">تسجيل الخروج</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="height: 90vh;">
                <div class="position-sticky pt-3 sidebar-sticky">
                    {{> navbar }}
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>


                <div class="card" style="margin-top: 70px;">
                    {{#if message}}
                    <p class="alert alert-success">{{message}}</p>
                    {{/if}}
                    <div class="card-header" style="text-align: center;">أدخل المعلومات المطلوبة</div>
                    <div class="card-body">
                        {{#each rows }}
                        <form method="post" action="/settings/{{this.id}}">
                            <div class="mb-3">
                                <label for="full_name">الاسم العائلي والشخصي</label>
                                <input type="text" name="full_name" id="full_name" class="form-control"
                                    value="{{this.full_name}}" />
                            </div>
                            <div class="mb-3">
                                <label for="email">البريد الالكتروني</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    value="{{this.email}}" />
                            </div>
                            <div class="mb-3">
                                <label for="password">كلمة السر الجديدة</label>
                                <input type="password" name="password" id="password" class="form-control"
                                    value="{{this.password}}" />
                            </div>
                            <div class="mb-3" style="display: flex; justify-content: space-between;">
                                <button type="submit" class="btn btn-primary">تأكيد</button>
                            </div>
                        </form>
                        {{/each}}
                    </div>
                </div>
            </main>
        </div>
    </div>

</body>

</html>